<h1>HI, PLEASE SIGN UP</h1>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  	<%= label_tag "First name*", nil, :class => "inline" %>
    <%= f.text_field :surname %><br/>

  <%= label_tag "Last name*", nil, :class => "inline" %>
  <%= f.text_field :name %><br/>

&nbsp;<br/>&nbsp;<br/>User profile used for logging in :*<br/>&nbsp;<br/>

    <%= label_tag "e-mail adress*", nil, :class => "inline" %>
    <%= f.text_field :email %><br/>

    <%= label_tag "Password*", nil, :class => "inline" %>
    <%= f.password_field :password %><br/>

	<%= label_tag "Password confirmation*", nil, :class => "inline" %>
    <%= f.password_field :password_confirmation %><br/>

    <%= submit_tag "LET'S GO", :class => "signup-button" %>

<% end %>