<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="https://www.facebook.com/2008/fbml">
<head>
  <title>Awaweb</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :all %>
  <%= csrf_meta_tag %>
	<script src="/colorbox/jquery.colorbox.js"></script>
<link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:regular,bold' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Didact+Gothic' rel='stylesheet' type='text/css'>
<%= yield :javascript %>

<script>
$(document).ready(function(){
	//Examples of how to assign the ColorBox event to elements
	$("a[rel='video']").colorbox({iframe:true, innerWidth:870, innerHeight:530});
	
	//Example of preserving a JavaScript event for inline calls.
	$("#click").click(function(){ 
		$('#click').css({"background-color":"#f00", "color":"#fff", "cursor":"inherit"}).text("Open this window again and this message will still be here.");
		return false;
	});
});
</script>

</head>
<body <%= yield :maps %>>

	<div class="container">
	<div id="splash_description">

	  	<%= yield %>
	
	</div>
	
	<%= yield :menu %>
	<%= yield :logout %>
	<%= yield :like %>
	<%= yield :twitter %>
<a href="/"><%= image_tag "logo.png", :class => "logo"%></a>
	<%= image_tag "suez_logo.png", :class => "suez-logo" %>
	</div>


</body>
</html>
