<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="https://www.facebook.com/2008/fbml">
<head>
  <title>Awaweb</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :all %>
  <%= csrf_meta_tag %>
<link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:regular,bold' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Didact+Gothic' rel='stylesheet' type='text/css'>
<%= yield :javascript %>
</head>
<body <%= yield :maps %>>

	<div class="container">
	<div id="splash_description">

	  	<%= yield %>
	
	</div>
	
	<%= yield :menu %>
	<%= yield :logout %>
	<%= yield :like %>
	<%= yield :twitter %>
<a href="/"><%= image_tag "logo.png", :class => "logo"%></a>
	<%= image_tag "suez_logo.png", :class => "suez-logo" %>
	</div>


</body>
</html>
